/*To all pages*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-primary: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: var(--font-primary);
}
/*Header*/
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background: rgb(255, 220, 226);
}

header img{
    flex: 1;
    max-width: 60%;
}

/*Footer*/
footer{
    height: 1rem;
}

/*Index*/
main{
    background-color: rgb(255, 255, 255);
}

.book-cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 40px;

    margin: 0 auto;
    padding: 26px 20px;
}

.book-cards{
    background-color: #FBD1B2;
    border-radius: 12px; 
    cursor: pointer;
}
.book-cards:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
.book-cards section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book-cards img{
    height: 320px;
    
    object-fit: cover;
    border-radius: 12px;
}
.book-cards h2{
    font-size: 26px;
    font-weight: 500;
    padding: 10px 0;
}
.book-cards .rating{
    font-size: 30px;
    font-weight: 400;
}
button:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

/*Add-book*/
.add-book-container{
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #dddcdb;
    border-radius: 12px;
}
.add-book-container h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-top: 10px;
    color: black;
}
.label{
    font-size: 1.3rem;
    color: black;
    font-weight: 450;
}
.input, .textarea, .select select{
    background-color: white;
    border: none;
}
select select:focus{
    border-color: #485fc7;
    box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);
}
.input::placeholder,
.textarea::placeholder,
.select select:invalid { /* :invalid pega o "Selecione a avaliação" */
    color: #8e8e8e;
    font-style: italic;
}
.input,
.textarea,
.select select,
.select select option {
    color: black;         /* GARANTE que o texto final seja preto */
    font-style: normal;   /* Tira o itálico do texto final */
}
.input:focus,
.textarea:focus,
.select select:focus {
    color: black;                 /* Texto digitado fica preto */
    background-color: #f0f5ff;
    border-color: #005eff;
    box-shadow: 0 0 0 0.125em rgba(0, 94, 255, 0.25);
}
::selection {
    background-color: #005eff;
    color: white;
}

.add-book-container .field{
    margin-bottom: 15px;
}
.add-book-container .control{
    display: flex;
    flex-direction: column;
}
.add-book-container .button{
    margin-top: 10px;
}

/*Details*/
.details-container{
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: #e7e7e7;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
}
.book-cover{
    flex: 1;
    padding: 10px;
}
.book-cover img{
    height: 600px;
    width: auto;
    border-radius: 12px;
}
.book-info{
    flex: 2;
    padding: 30px;
}
.book-info h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.696);
}
.book-info h2{
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.556);
}
.book-info p{
    font-size: 22px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.556);
}
.book-info .rating{
    font-size: 40px;
    font-weight: 500;
    margin-top: 10px;
    color: rgb(0, 0, 0.696);
}
@media (max-width: 768px){
    .details-container{
        flex-direction: column;
    }
    .book-cover img{
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}